<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgers.js"></script>
    <title>Document</title>
</head>

<body>
    <img src="https://lh3.googleusercontent.com/proxy/yDqUq_ERD-1M6QqgFDqv9q1wXrHFJDAnfTwruw5X6sNfWAJVnPKpTMZH3Pk-FhUxF-0na4I7awKD1BTvmJmzixC_6A" alt="burgerpic">
        
    
    {{{ body }}}


</body>

</html>