<h1>Burgers</h1>

<h2></h2>

<h2></h2>
<form class="body-form">

  <div class="form-group">
    <label for="ca">Burger name:</label>
    <input type="text" id="addBurger" name="name">
  </div>
  <button type="submit">Add Burger</button>
</form> 


<h2>Burgers to devour</h2>


<ol>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{burger_name}}
        <button data-id={{id}}>Eat the burger</button> 
    </li>
{{/unless}}
{{/each}}
</ol>

<h1>Burgers you've devoured</h1>
<ol>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        {{burger_name}}
        <button data-id={{id}}>I'M FULL!</button>
    </li>
{{/if}}
{{/each}}
</ol>